/* responsive media query */

/* mobile device */
* {
    padding: 0;
    margin: 0;

}
@media screen and (max-width:576px) {
    /* navbar section start here  */
    .header {
        width: 550px;
    }

    .navbar {
        width: 350px;
        margin-left: 20px;
    }

    .brand {
        font-size: 4rem;
        margin-left: 20px;
    }

    .nav-links {
        display: none;
    }

    .hambarger {
        display: block;
        margin-left: 225px;
        font-size: 3rem;
    }

    /* banner section responsive */

    .banner-container {
        width: 550px;
        /* height: 1300px; */
        flex-direction: column;
        /* border: 1px solid red; */
        overflow: hidden;
    }

    .banner-text-container {
        margin-left: 20px;
        padding: 15px;
    }

    /* banner img container */

    .banner-image-container {
        margin-left: 20%;
        position: relative;

    }

    .first-box-container {
        position: absolute;
        top: 240px;
        left: 5px;
    }

    .second-box-container {
        position: absolute;
        top: 50px;
        left: 200px;

    }


    /* change your habit */
    .habit-container {
        width: 500px;
    }

    .habit-text-container {
        /* border:1px solid red; */
        margin-top: 0;
        width: 500px;
    }

    .habit-item {
        width: 300px;
        margin-top: 40px;
        flex-direction: column;
        align-items: center;
    }

    .img {
        margin-top: 30px;
    }

/* responsive challange section */
.healthy-frouit-container{
    width:500px;
    height:1800px;
    position: relative;
}
.healthy-food-image-contaienr{
    position: absolute;
    display: flex;
    flex-direction: column;
    top:250px;
    left: 75px;
}

    /* run easy resoinsive start here */

    .run-easy-container {
        width: 500px;
        height: 700px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .run-easy-text-container {
        margin-top: 30px;
        text-align: center;
    }

    .run-easy-button {
        width: 350px;
    }

    .run-easy-image-container {
        width: 300px;
    }

    .run-easy-image {
        display: block;
        margin-left: 5px;
        width: 350px;
    }

    /* BMI responsive start here */

    /* BMI Calculator section  */
    .bmi-header {
        width:500px;
        margin-left: 0px;
    }

    .bmi-calcu-container {
        width: 550px;
        height: 950px;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .bmi-left-content {
        position: absolute;
        top: 50px;
        left: 25%;
    }

    .bmi-right-content {
        position: absolute;
        top: 45%;
        left: 0;
    }

    table {
        width: 400px;
    }

    tr {
        width: 550px;
        height: 50px;
    }

    .bmi-right-tittle {
        font-size: 20px;
        margin-left: 5%;
    }

    .bmi-right-description {
        margin-left: 5%;
    }

    form {
        width: 550px;
        height: 300px;
    }

    .flex-input {
        display: block;
        display: flex;
        width: 550px;
    }

    .flex-input input {
        display: block;
        width: 500px;
        height: 55px;
        margin: 10px;
    }

    #seclect-activity {
        width: 280px;
        height: 55px;
        margin: 10px;
    }

    .form-btn input[type="submit"] {
        display: block;
        width: 250px;
        margin-left: 10px;
    }

    /* responsive meet our secton */
    .meet-team-container {
        width: 500px;
    }

    .meet-team-text-container {
        width: 500px;
    }

    .meet-team-image-container {
        width: 500px;
        margin-top: 50px;
    }

    .meet-team-card-container {
        width: 300px;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 20px;
    }

    .team-img1 {
        width: 400px;
        height: 400px;
    }

    .team-img2 {
        width: 400px;
        height: 400px;
    }

    .team-img3 {
        width: 400px;
        height: 400px;
    }

    .team-img4 {
        width: 400px;
        height: 400px;
    }

    .team-img5 {
        width: 400px;
        height: 400px;
    }

    .team-img6 {
        width: 400px;
        height: 400px;
    }

    .trainer-name {
        margin: 330px 0 0 20px;
    }

    .triainer-description {
        margin: top 50px;
    }

    /* responsive footer section */
    .footer-main-container {
        height: 1130px;
        width: 500px;
    }

    .inner-container {
        height: 1000px;
        width: 400px;
    }

    .footer-thre-card-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: relative;
    }

    .left-footer-content {
        position: absolute;
        left: 30px;
        top: 30px;
    }

    .left-footer-logo {
        font-size: 90px;
    }

    .midel-footer-container {
        margin-top: 20px;
        width: 300px;
        position: absolute;
        left:0;
        top: 40%;
    }

    .midel-footer-tittle {
        margin-left: 30px;
        font-size: 40px;
    }

    .midel-footer-container a {
        display: block;
        margin-left: 30px;
        font-size: 30px;
    }

    .last-footer-content {
        position: absolute;
        left: -20px;
        top: 70%;
        width: 500px;
    }

    .last-footer-content a {
        display: block;
        font-size: 30px;
        margin-left: 30px;
    }

    .copy-right p {
        text-align: center;
        font-size: 25px;
        margin-left: 30px;
    }

}