/* responsive media query */

/* mobile device */
*{
    padding:0;
    margin:0;
}
@media screen and (max-width:576px) {
    .navbar{
        width:350px;
        margin-left: 20px;
    }
    .brand{
        font-size:4rem;
        margin-left: 20px;
    }
    .nav-links{
        display: none;
    }
    .hambarger{
        display: block;
        margin-left: 225px;
        font-size:3rem;
    }
    .banner-container{
        width:576px;
        /* height: 1300px; */
        flex-direction: column;
        border: 1px solid red;
        overflow: hidden;
    }
    .banner-image-container{
      margin-left: 20%;

    }
    .first-box-container{
        position: absolute;
        top:222%;
        left:10%;
    }
    .second-box-container{
        position: absolute;
        top:140%;
        left:-90%;
    }
    /* change your habit */
    .habit-container{
      
    }
    .habit-text-container{
        border:1px solid red;
        
    }
    .habit-item{
        margin-top: 35px;;
     
        flex-direction: column;
    }
    }



