@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playwrite+CU:wght@100..400&display=swap');
/* *{
    border: 1px solid red;
  }
  
  body{
    border: 4px dashed green;
  } */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #000000;
    color: white;
}

/* shared styles */
.display-flex {
    display: flex;
}

.text-orange-color {
    color: #E6533C;
}

.description-color {
    color: #8C8C8C;
}

/* header styles */

/* navbar releted styles */
.header {
width:100%;
    /* border: 2px solid tomato; */
    margin: 0 auto;
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
}

.brand {
    font-size: 2.25rem;
    font-weight: 800;
}

.navbar {
    width: 1060px;
    height: 110px;
    /* border: 1px solid red; */
    margin: 0 10% 0 15%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

/* hambarger section */
.hambarger {
    display: none;
}

.home-btn {
    width: 90px;
    height: 40px;
    text-align: center;
    background-color: #E6533C;
    color: #FFFFFF;
    border-radius: 45px;
    font-size: 1.125rem;
    border: none;
    margin-bottom: 10px;
}

.nav-links {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
}

.nav-item {
    list-style: none;
    margin: 0 30px;
    margin-top: 10px;
}

.nav-link {
    width: 90px;
    font-size: 1.125rem;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

.nav-link:hover {
    background: rgb(94, 91, 91);
    width: 90px;
    border-radius: 40px;
    transition: 0.5s ease;
}

/* banner section styles */

.banner-container {
    width:100%;
    justify-content: space-between;
}

.banner-text-container {
    width: 600px;
    height: 450px;
    margin-top: 95px;
    margin-left: 15%;

}

.banner-title {
    font-size: 4.87rem;
    font-weight: 800;
    margin: 0;
    line-height: 1;
}

.banner-description {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 25px;
}

.font-style {
    font-family: "Playwrite CU", cursive;
    font-weight: 300;
}

.first-btn {
    width: 225px;
    height: 55px;
    background-color: #E6533C;
    color: #FFFFFF;
    border-radius: 45px;
    font-size: 1.125rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    margin-top: 30px;
}

.second-button {
    width: 225px;
    height: 55px;
    background-color: transparent;
    color: #FFFFFF;
    border-radius: 45px;
    font-size: 1.125rem;
    font-weight: 600;
    margin-left: 15px;
    cursor: pointer;
    border:1px solid grey;
}

/* banner image container start here */
.banner-image-container {
    width: 350px;
    height: auto;
    margin-right: 215px;
    position: relative;
}

.first-box-container {
    width: 205px;
    height: 95px;
    border-radius: 10px;
    backdrop-filter: blur(20px);
    position: absolute;
    bottom: 80px;
    right: 240px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(48, 48, 48, 0.54);
}

.ball {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 0;
    background-color: #E6533C;
}

.box-title {
    font-size: 1.5rem;
    font-weight: 900;
    margin-top: 8px;
}

.description {
    margin-top: 8px;
}

.second-box-container {
    width: 205px;
    height: 95px;
    text-align: center;
    position: absolute;
    left: 220px;
    top: 120px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    border-radius: 10px;
}

.second-box-title {
    font-size: 2.5rem;
    font-weight: 900;
    margin: 0;
    top: 10px;
    right: 40px;
}

.second-description {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

/* Challenge section start here */
.healthy-frouit-container{
width:1300px;
height:600px;
margin:0 auto;
margin-top: 50px;
border-radius: 20px;
background: #2b2a2a;
}
.header-of-healthy-food{
text-align:center;
}
.healthy-food-title{
font-size:2.5rem;
font-weight:800;
margin-top:30px;

}
.healthy-food-description{
font-size:1rem;
font-weight:500;
margin-top:20px;
}
.healthy-food-image-contaienr{
margin:0 auto;
justify-content: center;                                                
align-items: center;
}
.healthy-food{
height:350px;
margin-top: 20px;
margin-left: 30px;
border-radius: 20px;
background: #00000065;
}
.healthy-food img{
display: block; 
width:150px;
height:150px;
border-radius: 100%;
margin: auto;
margin-top:30px;
}
.food-name{
text-align:center;
font-size: 1.5rem;
font-weight:800;
margin-top:30px;
}
.food-details{
text-align: center;
font-size: 1rem;;
color: #8C8C8C;
font-weight: 400;
margin-top:10px;
}
/* style Changr habit section */
.habit-container {
    width: 1044px;
    margin: 0 auto;
}

.habit-text-container {
    text-align: center;
    width: 671px;
    margin: 0 auto;
    margin-top: 92px;
}

.habit-title {
    font-size: 3rem;
    font-weight: 900;
    margin: 0;
}

.habit-description {
    font-size: 0.875rem;
    font-weight: 400;
    margin: 0;
    margin-top: 14px;
}

.habit-item {
    width: 1044px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 70px;

}

.habit-img {
    border-radius: 50%;
}

.img {
    text-align: center;
}

.habit-img-title {
    font-size: 1.125rem;
    font-weight: 600;
    margin: 0;
    margin-top: 20px;
}

.habit-img-description {
    font-size: 0.875rem;
    font-weight: 400;
    margin: 0;
    margin-top: 6px;
}

/* style run easy section */
.run-easy-container {
    width: 1060px;
    height:400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(180deg, rgba(97, 90, 90, 0.637), rgba(34, 33, 33, 0.554));
    margin: 0 auto;
    margin:90px auto;
    border-radius: 30px;
}

.run-easy-text-container {
    /* width: 445px;
    height: 290px; */
    margin-left: 55px;

}

.run-easy-title {
    font-size: 3rem;
    font-weight: 900;
}

.run-easy-description {
    font-size: 0.875rem;
    font-weight: 500;
    margin-top: 10px;
}

.run-easy-button {
    width: 225px;
    height: 55px;
    background-color: #E6533C;
    color: #FFFFFF;
    border-radius: 45px;
    font-size: 1.125rem;
    border: none;
    margin-top: 30px;
    cursor: pointer;
}

.run-easy-image-container {
   width: 400px;
   width:auto;
}

.run-easy-image {
    width: 400px;
    height: auto;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 52px;
}

/* BMI section start here */

/* BMI calculator start here */
.bmi-header-container{
    padding-bottom: 50px;
}
.bmi-header{
    width: 80%;
    margin:60px auto 0;
}
.bmi-tittle{
    color: #FFFFFF;
    font-size: 35px;
    margin-left: 20%;
    font-weight: bolder;
}
.bmi-description{
    color: #FFFFFF80;
    font-size: 14px;
    font-weight: 400;
    margin:10px 0 0 20%;
}
/* bmi calculate table  */
.bmi-calcu-container{
    width: 100%;
    height: 370px;
    background: linear-gradient(180deg, rgba(32, 30, 30, 0.874), rgb(50, 47, 47));
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
table{
    margin-bottom: 30px;
    border-collapse: collapse;
}
.bmi-left-content{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bmi-left-content caption{
    font-size: 25px;
    color: #FFFFFF;
    font-weight: 600;
    width: 300px;
    margin-bottom: 50px;
    text-align: left;
}
thead th{
    color:#FFFF;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    padding-left: 10px;
}
th , td {
    border: 1px solid #ffffff33;
    color: #FFFFFF80;
    width: 50%;
    height: 30px;
    font-size: 14px;
}
td{
    padding-left: 10px;
}

/* form css start here  */
.bmi-right-content{
    width: 40%;
}
.bmi-right-tittle{
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 600;
    margin-top: 50px;
}
.bmi-right-description{
    color: #FFFFFF80;
    font-size: 12px;
    font-weight: 600;
    margin-top: 10px;
}
.form-btn input[type="submit"]{
    width: 160px;
    height:40px;
    background: #E6533C;
    border-radius: 40px;
    font-size: 14px;
    font-weight: 400;
    color: #FFFF;
    margin-top: 25px;
    letter-spacing: 0.5px;
    cursor: pointer;
    border: none;
    align-content: center;
}
form{
    margin-top: 30px;
}
.flex-input{
    display: block;
    display: flex;
    width: 100%;
}
.flex-input input{
    width: 50%;
    height: 35px;
    border: none;
    background: #3d3838;
    margin: 5px;
    border-radius: 8px;
    color: #FFFFFF;
}
::placeholder{
    color: #FFFFFF80;
    font-size: 12px;
    padding-left:15px;
}
#seclect-activity{
    width: 98%;
    height: 35px;
    border-radius: 8px;
    background: #3d3838;
    border: none;
    margin:4px 0 0 5px;
}
/* BMi section end here */

/* meet our team section start here */
.meet-team-container {
    width: 1060px;
    margin: auto;
    margin-top: 85px;
    text-align: center;
}

.meet-team-text-container {
    width: 670px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
}

.meet-team-title {
    font-size: 3rem;
    font-weight: 600;
    margin-top:30px;
}

.meet-team-deacription {
    font-size: 0.875rem;
    font-weight: 400;
    margin-top: 15px;
}

.meet-team-image-container {
    width: 1060px;
    background: #1e1d1d;
    overflow: hidden;
    border-radius: 20px;
}

.meet-team-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
}

.team-img1 {
    background: linear-gradient(rgba(0, 0, 0, 0.178), rgba(0, 0, 0, 0.145)), url(../images/trainer1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.team-img2 {
    background: linear-gradient(rgba(0, 0, 0, 0.178), rgba(0, 0, 0, 0.145)), url(../images/trainer2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.team-img3 {
    background: linear-gradient(rgba(0, 0, 0, 0.178), rgba(0, 0, 0, 0.145)), url(../images/trainer3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.team-img4 {
    background: linear-gradient(rgba(0, 0, 0, 0.178), rgba(0, 0, 0, 0.145)), url(../images/trainer4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.team-img5 {
    background: linear-gradient(rgba(0, 0, 0, 0.178), rgba(0, 0, 0, 0.145)), url(../images/trainer5.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.team-img6 {
    background: linear-gradient(rgba(0, 0, 0, 0.178), rgba(0, 0, 0, 0.145)), url(../images/trainer6.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.trainer-name {
    color: wheat;
    margin: 200px 0 0 20px;
    text-align: left;
}

.triainer-description {
    text-align: left;
    margin-left: 20px;

}


/* footer section start here */
.footer-main-container{
    width: 100%;
    height: 440px;
    background: linear-gradient(180deg, rgba(17, 17, 17, 0.874), rgb(15, 15, 15));
    margin-top: 50px;
}
.inner-container{
    width: 80%;
    height: 350px;
    margin: 50px auto 0;
    border-bottom: 1px solid #FFFFFF80;
}
.footer-thre-card-container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* first card  */
.left-footer-content{
    width:40%;
    height: 250px;
    margin-right: 25px;
}
.left-footer-logo{
    display: block;
    color:var(--primary-color);
    text-decoration: none;
    font-size: 70px;
    font-weight: 800;
    color: #E6533C;
    font-style: italic;
}
.left-footer-description{
    color: #FFFFFF80;
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px;
    line-height: 20px;
}
/* secend card  */
.midel-footer-container{
    width: 30%;
    height: 250px;
    display: flex;
    flex-direction: column;
}
.midel-footer-tittle{
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 600;
    margin-left: 100px;   
}
.midel-footer-container a{
    display: block;
    font-size: 20px;
    color: #FFFFFF80;
    text-decoration: none;
    padding-top: 20px;
    font-weight: 200;
    margin-left: 100px;
}
/* last card  */
.last-footer-content{
    width: 30%;
    height: 250px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}
.last-footer-tittle , .last-footer-content a{
    margin-left: 110px;
}
.last-footer-content a
{
    display: block;
    font-size: 20px;
    color: #FFFFFF80;
    text-decoration: none;
    padding-top: 20px;
    font-weight: 200;
}
/* copy right section  */
.copy-right p{
    text-align: center;
    color: #FFFFFF80;
    font-size: 18px;
    font-weight: 200;
    margin-top:35px;
}