@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    background-color: black;
    font-family: "Inter", sans-serif;
    color: white;
}

/* shared styles */
.display-flex {
    display: flex;
}

.text-orange-color {
    color: #E6533C;
}

.description-color {
    color: #8C8C8C;
}

/* header styles */

/* navbar releted styles */
.header {
    width: 1440px;
    height: 775px;
    border: 2px solid tomato;
    margin: 0 auto;
    background: #1D1D1D;
}

.brand {
    font-size: 2.25rem;
}

.navbar {
    width: 1060px;
    border: 1px solid red;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.home-btn {
    width: 92px;
    height: 26px;
    background-color: #E6533C;
    color: #FFFFFF;
    border-radius: 45px;
    font-size: 1.125rem;
    border: none;
    margin-bottom: 10px;
}

.nav-links {
    font-size: 1.125rem;
}

.nav-item {
    list-style: none;
    margin-right: 47px;
}

.nav-link {
    text-decoration: none;
    color: white;
}

/* banner section styles */

.banner-container {
    justify-content: space-evenly;
}

.banner-text-container {
    width: 600px;
    height: 450px;
    margin-top: 95px;
    border: 1px solid blue;
}

.banner-title {
    font-size: 4.87rem;
    font-weight: 700;
    margin: 0;
}

.font-style {
    font-family: "Dancing Script", cursive;
    font-weight: 300;
}

.first-btn {
    width: 225px;
    height: 55px;
    background-color: #E6533C;
    color: #FFFFFF;
    border-radius: 45px;
    font-size: 1.125rem;
    border: none;
    margin-top: 30px;
}

.second-button {
    width: 225px;
    height: 55px;
    background-color: transparent;
    color: #FFFFFF;
    border-radius: 45px;
    font-size: 1.125rem;
    border: 1px solid grey;
    margin-left: 15px;
}

.banner-image-container {
    width: 350px;
    height: 580px;
    margin-top: 30px;
    margin-right: 215px;
    position: relative;
    border: 1px solid tomato;
}

.banner-box-containee {
    width: 205px;
    height: 95px;
    border: 2px solid red;
    border-radius: 10px;
    position: absolute;
    margin-top: 450px;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4B423D;
}

.ball {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 0;
    background-color: #E6533C;
}

.box-title {
    font-size: 1.5rem;
    font-weight: 900;
    margin: 0;
    margin-left: 10px;
}

.description {
    margin-left: 10px;
    margin: 0;
}

.second-box-container {
    width: 205px;
    height: 95px;
    text-align: center;
    position: absolute;
    margin-left: 770px;
    margin-top: 140px;
    background: #4B423D;
    border: 1px solid yellow;
    border-radius: 10px;
}

.second-box-title {
    font-size: 2.5rem;
    font-weight: 900;
    margin: 0;
    margin-top: 10px;
    margin-right: 40px;
}

.second-description {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

/* style Changr habit section */
.habit-text-container {
    text-align: center;
    width: 671px;
    border: 2px solid slateblue;
    margin: 0 auto;
    margin-top: 92px;
}

.habit-title {
    font-size: 3rem;
    font-weight: 900;
    margin: 0;
}

.habit-description {
    font-size: 0.875rem;
    font-weight: 400;
    margin: 0;
    margin-top: 14px;
}

.habit-image-container {
    width: 1044px;
    height: 280px;
    border: 1px solid yellow;
    margin: 0 auto;
    margin-top: 70px;
    display: flex;
    justify-content: space-around;

}

.habit-image {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.image {
    text-align: center;
}

.habit-img-title {
    font-size: 1.125rem;
    font-weight: 600;
    margin: 0;
    margin-top: 20px;
}

.habit-img-description {
    font-size: 0.875rem;
    font-weight: 400;
    margin: 0;
    margin-top: 6px;
}

/* style run easy section */
.run-easy-container {
    width: 1060px;
    height: 370px;
    border: 1px solid darkblue;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 90px;
    background: #222222;
    display: flex;
}

.run-easy-text-container {
    width: 445px;
    height: 290px;
    margin-left: 55px;

}

.run-easy-title {
    font-size: 3rem;
    font-weight: 900;
    margin: 0;
    margin-top: 40px;
}

.run-easy-description {
    font-size: 0.875rem;
    font-weight: 400;
    margin-top: 10px;
}

.run-easy-button {
    width: 225px;
    height: 55px;
    background-color: #E6533C;
    color: #FFFFFF;
    border-radius: 45px;
    font-size: 1.125rem;
    border: none;
    margin-top: 30px;
}

.run-easy-image-container {

    border: 1px solid goldenrod;
    margin-left: 100px;
}

.run-easy-image {
    width: 365px;
    height: 310px;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 52px;
}

/* BMi text container start here */
.bmi-calculator-text-container {
    width: 670px;
    height: 120px;
    border: 1px solid seashell;
    margin: 0 auto;
    margin-top: 90px;
}

.bmi-text-title {
    font-size: 3rem;
    font-weight: 900;
    margin: 0;
    margin-bottom: 15px;
}

.bmi-text-descriptiion {
    font: size 0.875em;
    font-weight: 400;
    margin: 0;
}
/* BMI container style start here */
.bmi-container{
    width:1440px;
    height:490px;
    justify-content: space-evenly;
    background: #222222;
    border:1px solid wheat;
    margin:0 auto;
    margin-top: 90px;
}
/* Bmi chart container */
.bmi-chart-title{
    font-size: 1.75rem;
    font-weight: 900;
    margin:0;
    margin-top: 50px;
}
.table-container{
    width:310px;
    height:215px;
    margin-top: 50px;
    border:1px solid gray;
}
/* Your bmi container style  */
.your-bmi-container{
    width: 580px;
    height: 385px;
    border:1px solid red;
}

.last-input{
    width: 577px;
}


/* Responsive media query  start here */

/*molibe devices style */
@media screen and (max-width:576px) {

    /* navbar start here */
    .navbar {
        width: 350px;
        height: 40px;
        flex-direction: column;
    }

    */

    /* banner section start here */
    .banner-container {
        width: 355px;
        height: 235px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }
}